# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# Getting rid of this to make my life easier early on
# *.lib

# Executables
*.exe
*.out
*.app

*.opendb
*.opensdf

.vs/
Debug/